[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
asyncpg = "==0.25.0"

[dev-packages]

[requires]
python_version = "3.9"
